---
import { getImage } from "astro:assets";
import Background from "../../../public/Collon-4.jpeg";

const { background } = Astro.props;

const optimizedImage = await getImage({
  src: background ? background : Background,
  format: "webp",
});
let backgroundUrl = `url(${optimizedImage.src})`;
---

<div class="paraxify"></div>

<style define:vars={{ backgroundUrl }}>
  .paraxify {
    background-image: var(--backgroundUrl);
    height: 400px;
    background-attachment: initial !important;

    @media (min-width: 1200px) {
      background-attachment: fixed !important;
    }
  }
</style>
