---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero/Hero.astro";
import Text from "../../components/Text/Text.astro";
import Cards from "../../components/Cards/Cards.astro";
import "./rivers.scss";

import Card1 from "../../../public/card-1.jpeg";
import Card2 from "../../../public/card-2.jpg";
import Card3 from "../../../public/card-3.jpg";
import Heading from "../../components/Heading.astro";

const cards = [
  {
    img: Card1,
    title: "Twin River Float",
    subhead: "northern patagonia",
    copy: "This itinerary has a very honest name. If you can only spend one week in Northern Patagonia then this is what we believe to be the Ideal experience for an angler looking for a combination of the most productive waters in the region and the chance at true trophy fish.",
    href: "/programs/twin-river-float",
  },
  {
    img: Card2,
    title: "The 10-dayTour",
    subhead: "northern patagonia",
    copy: "We always say, if you’re going to fly halfway around the world, why not take your time once you’re there? This 10-day itinerary covers all the bases for lodge styles: classic, modern, luxury; and water types: meandering mild gradients, powerful tailwaters, and classic big freestone. It’s the full gambit stylistically and shows you the variety that Patagonia has to offer.",
    href: "/programs/twin-river-float",
  },
  {
    img: Card3,
    title: "Wade & Float Combo",
    subhead: "northern patagonia",
    copy: "If dry flies and sight fishing are your thing, then look no further. This itinerary covers the two best rivers in the region for these conditions. With the mix of wading and floating along with the diversity of food sources, you will be in a paradise for this technical brand of fishing.",
    href: "/programs/twin-river-float",
  },
];
---

<Layout title="Chimehuin" href="">
  <Hero title="Chimehuin" />
  <Text>
    <a href="/" class="back">
      <svg
        width="12"
        height="12"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_59_14)">
          <path
            d="M32 15H3.41L11.7 6.71004L10.29 5.29004L0.289999 15.29C0.103748 15.4774 -0.000793457 15.7309 -0.000793457 15.995C-0.000793457 16.2592 0.103748 16.5127 0.289999 16.7L10.29 26.7L11.7 25.29L3.41 17H32V15Z"
            fill="black"></path>
        </g>
        <defs>
          <clipPath id="clip0_59_14">
            <rect width="32" height="32" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
      <span>Back Home</span>
    </a>
    <p>
      This river is the quintessential freestone river, adorned with majestic
      brown trout that rest in its shaded, willow-lined banks. Reminiscent of
      the iconic Madison River, it boasts authentic pools and runs, while in
      certain stretches, the river weaves into an intircate labyrinth of
      channels, imparting the ambiance of intimate waters yet holding the chance
      of sizable catches. Versatility is the name of the game here; from
      spirited pursuit with streamers and nymphs to enticing strikes with large
      attractor dry flies. Whether prospecting amidst the currents or
      meticulously matching the fervent hatches, anglers are sure to be
      inundated with activity.
    </p>
    <p>
      Rainbows and browns, averaging between 15 to 20 inches, dominate its
      waters, with a commendable number of specimens reaching up to 24 inches
      and even surpassing this mark. They are drawn in by the seasonal symphony
      of hatches which commences with the emergence of Caddis in early December,
      crescendoing into a peak later in the month and lingering through early
      January, accompanied by sporadic appearances of Mayflies. As February
      approaches, the curtain descends on the hatches, save for the nightly
      spectacle of sizable Yellow Drake hatches, tempting the elusive big browns
      to the surface. Throughout the summer, afternoon terrestrial fishing
      proves fruitful, reaching its zenith between late January and early March.
      As autumn settles, the river reverberates with the resurgence of Mayfly
      hatches. Streamer aficionados find solace throughout the seasons, but
      Spring and Fall emerge as the prime windows for pursuing hefty browns.
    </p>
  </Text>
  <div class="carousel" style={{ overflow: "hidden" }}>
    <div class="container">
      <Heading text="Related Itineraries" tag={"h2"} class="title" />
      <Cards cards={cards} />
    </div>
  </div>
</Layout>
