---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero/Hero.astro";
import Text from "../../components/Text/Text.astro";
---

<Layout title="Chimehuin" href="">
  <Hero title="Chimehuin" />
  <Text>
    <p>
      This river is the quintessential freestone river, adorned with majestic
      brown trout that rest in its shaded, willow-lined banks. Reminiscent of
      the iconic Madison River, it boasts authentic pools and runs, while in
      certain stretches, the river weaves into an intircate labyrinth of
      channels, imparting the ambiance of intimate waters yet holding the chance
      of sizable catches. Versatility is the name of the game here; from
      spirited pursuit with streamers and nymphs to enticing strikes with large
      attractor dry flies. Whether prospecting amidst the currents or
      meticulously matching the fervent hatches, anglers are sure to be
      inundated with activity.
    </p>
    <p>
      Rainbows and browns, averaging between 15 to 20 inches, dominate its
      waters, with a commendable number of specimens reaching up to 24 inches
      and even surpassing this mark. They are drawn in by the seasonal symphony
      of hatches which commences with the emergence of Caddis in early December,
      crescendoing into a peak later in the month and lingering through early
      January, accompanied by sporadic appearances of Mayflies. As February
      approaches, the curtain descends on the hatches, save for the nightly
      spectacle of sizable Yellow Drake hatches, tempting the elusive big browns
      to the surface. Throughout the summer, afternoon terrestrial fishing
      proves fruitful, reaching its zenith between late January and early March.
      As autumn settles, the river reverberates with the resurgence of Mayfly
      hatches. Streamer aficionados find solace throughout the seasons, but
      Spring and Fall emerge as the prime windows for pursuing hefty browns.
    </p>
  </Text>
</Layout>
