---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero/Hero.astro";
import Text from "../../components/Text/Text.astro";
---

<Layout title="Collon Cura" href="">
  <Hero title="Collon Cura" />
  <Text>
    <p>
      Probably the most consistent and productive river In Northern Patagonia.
      The Collon Cura river is nestled in a high desert valley, this river
      emerges as a gem in the realm of fishing. Its productivity is on par with
      the World’s best. However, it maintains its allure with notably fewer
      crowds. Resembling the picturesque Snake River near Jackson Hole, its
      banks are adorned with willows, complemented by towering sandstone cliffs.
      Here, the river's gentle gradient and expansive gravel riffles offer an
      inviting setting for both floating and wading enthusiasts with a structure
      that can accommodate any level of physical capability.
    </p>
    <p>
      Various methods find success on the Collon Cura. Big dry flies prove
      particularly effective when deftly presented along the banks and
      skillfully navigated through the riffles and runs. During still mornings,
      trout rise gracefully in the tailouts, eddies, and soft waters, feasting
      on mayfly spinners. As dusk descends, a vibrant caddis hatch emerges,
      enticing strikes with patterns like the elk hair or goddard caddis deftly
      danced across the water's surface. Yet, perhaps the most rewarding tactic
      remains the art of streamer fishing, a method yielding bountiful catches
      throughout the seasons.
    </p>
  </Text>
</Layout>
