---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero/Hero.astro";
import Text from "../../components/Text/Text.astro";
---

<Layout title="Malleo" href="">
  <Hero title="Malleo" />
  <Text>
    <p>
      The Malleo River stands as a paragon of consistency and quality. Rainbow
      and brook trout, averaging between 14 to 19 inches, grace its currents,
      with a respectable cohort of Browns ranging from 20 to 24 inches, and
      occasional behemoths claiming their share of the limelight each year.
      While not renowned for producing the largest trout in the area, the Malleo
      teems with an abundance of 16 to 19-inch specimens, drawn to the river's
      enchanting caddis and mayfly hatches.
    </p>
    <p>
      A mosaic of waters awaits exploration, from the tranquil spring creeks to
      the rocky canyon rapids, down to the classic riffles, runs, and pools near
      the lodge. Casting to rising rainbows and browns amidst the willows,
      flats, and weed beds provides just the right amount of challenge, ensuring
      an exhilarating angling experience. With its waters teeming with trout,
      the Malleo guarantees action aplenty, even for novice anglers.
    </p>
  </Text>
</Layout>
