---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero/Hero.astro";
import Text from "../../components/Text/Text.astro";
---

<Layout title="Middle Limay" href="">
  <Hero title="Middle Limay" />
  <Text>
    <p>
      Flowing from the Pichi Picun Leufu dam and meandering for approximately 60
      miles before converging into the expansive Chocon Reservoir. Its grandeur
      is reflected in its formidable size, with flow rates ranging from 7,000
      cfs to 16,000 cfs, contingent upon the demands of electricity production.
      Renowned as perhaps the most dynamic waterway in the province, the lower
      Limay presents anglers with a diverse and vibrant ecosystem sustained by
      the pristine, cool waters discharged from the dam.
    </p>
    <p>
      This river harbors an exceptionally tough population of rainbow trout,
      renowned for their fighting prowess averaging between 17 to 21 inches
      nourished year-round by a bountiful diet of aquatic insects and minnows.
      Moreover, the lower Limay beckons with the promise of giant resident and
      migratory brown trout, ranging from 20 to well over 30 inches in length.
      Over the years, clients have triumphantly reeled in behemoths surpassing
      the 30-inch mark. These majestic creatures grace the river throughout the
      season, with the latter half heralding peak productivity and angling
      opportunities.
    </p>
  </Text>
</Layout>
