---
import Layout from "../../layouts/Layout.astro";
import HeroCarousel from "../../components/HeroCarousel.astro";
import Text from "../../components/Text/Text.astro";
import Cards from "../../components/Cards/Cards.astro";
import "./rivers.scss";

import Card1 from "../../../public/Cards/Twin-river.jpg";
import Card2 from "../../../public/Cards/card_10_day.jpg";
import Card3 from "../../../public/Cards/wade-and-float.jpeg";
import Heading from "../../components/Heading.astro";

import carouselImage1 from "../../../public/rivers/rio_grande/RG-1.jpg";
import carouselImage2 from "../../../public/rivers/rio_grande/RG-2.jpg";
import carouselImage3 from "../../../public/rivers/rio_grande/RG-3.jpg";
import carouselImage4 from "../../../public/rivers/rio_grande/RG-4.jpg";
import carouselImage5 from "../../../public/rivers/rio_grande/RG-5.jpg";
import carouselMobile1 from "../../../public/homepage-carousel/carousel-mobile-1.jpg";
import carouselMobile3 from "../../../public/homepage-carousel/carousel-mobile-3.jpg";
import carouselMobile5 from "../../../public/rivers/rio_grande/RG-M-1.jpg";

const images = [
  {
    desktop: carouselImage1,
    mobile: carouselMobile1,
  },
  {
    desktop: carouselImage2
  },
  {
    desktop: carouselImage3,
    mobile: carouselMobile3
  },
  {
    desktop: carouselImage4
  },
  {
    desktop: carouselImage5,
    mobile: carouselMobile5
  },
];

const cards = [
  {
    img: Card1,
    title: "Twin River Float",
    subhead: "northern patagonia",
    copy: "This itinerary has a very honest name. If you can only spend one week in Northern Patagonia then this is what we believe to be the Ideal experience for an angler looking for a combination of the most productive waters in the region and the chance at true trophy fish.",
    href: "/programs/twin-river-float",
  },
  {
    img: Card2,
    title: "The 10-dayTour",
    subhead: "northern patagonia",
    copy: "We always say, if you’re going to fly halfway around the world, why not take your time once you’re there? This 10-day itinerary covers all the bases for lodge styles: classic, modern, luxury; and water types: meandering mild gradients, powerful tailwaters, and classic big freestone. It’s the full gambit stylistically and shows you the variety that Patagonia has to offer.",
    href: "/programs/the-10-day-tour",
  },
  {
    img: Card3,
    title: "Wade & Float Combo",
    subhead: "northern patagonia",
    copy: "If dry flies and sight fishing are your thing, then look no further. This itinerary covers the two best rivers in the region for these conditions. With the mix of wading and floating along with the diversity of food sources, you will be in a paradise for this technical brand of fishing.",
    href: "/programs/wade-and-float-combo",
  },
  {
    img: Card3,
    title: "Sea-Run Brown Trout",
    subhead: "southern patagonia",
    copy: "Our fishing program works on a split day beat rotation where every two (2) anglers and their guide fish a morning and an evening session with an extended mid-day break with lunch and time to rest at the lodge between each session...",
    href: "/programs/sea-run-brown-trout",
  },
];
---

<Layout title="Rio Grande" href="">
  <HeroCarousel title="Rio Grande" images={images} className="height-big" />
  <Text>
    <a href="/" class="back">
      <svg
        width="12"
        height="12"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_59_14)">
          <path
            d="M32 15H3.41L11.7 6.71004L10.29 5.29004L0.289999 15.29C0.103748 15.4774 -0.000793457 15.7309 -0.000793457 15.995C-0.000793457 16.2592 0.103748 16.5127 0.289999 16.7L10.29 26.7L11.7 25.29L3.41 17H32V15Z"
            fill="black"></path>
        </g>
        <defs>
          <clipPath id="clip0_59_14">
            <rect width="32" height="32" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
      <span>Back Home</span>
    </a>
    <p>
      With annual returns of 50,000+ fish and an average size exceeding 8
      pounds, no other river in the world can rival the Rio Grande in
      Argentina's southern territory of Tierra del Fuego as the best place on
      the planet to catch sea-run brown trout. Combine the river with the best
      returns and the largest average size of sea-run brown trout with easy
      access to 12 miles of rested pools from a comfortable homestyle lodge
      designed for four (4) anglers per week, and that’s the San Jose Lodge
      fishing experience.
    </p>
    <p>
      Studies have shown that sea-run brown trout can return to the Rio Grande
      over four times to spawn during their lifecycle and reach a weight that
      exceeds 20+ pounds. With an average size exceeding 8+ pounds it’s truly a
      privilege to fish the Rio Grande for this remarkable strain of sea-run
      brown trout.
    </p>
    <p>
      It’s without question that the rivers on the island of Tierra del Fuego in
      southern Argentina are among the most productive sea-run brown trout
      fisheries in the world. Many suggest that the Rio Grande has a large
      average size and high annual return rates of sea trout because of the lack
      of commercial fishing, rich marine rearing environment, and strictly
      managed catch and release fishing policy.
    </p>
  </Text>
  <div class="carousel" style={{ overflow: "hidden" }}>
    <div class="container">
      <Heading text="More Itineraries" tag={"h2"} class="title" />
      <Cards cards={cards} />
    </div>
  </div>
</Layout>
