---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero/Hero.astro";
import Text from "../../components/Text/Text.astro";
import Rivers from "../../components/Rivers/Rivers.astro";

const copy = `This itinerary has a very honest name. If you can only spend one week in Northern Patagonia then this is what we believe to be the Ideal experience for an angler looking for a combination of the most productive waters in the region and the chance at true trophy fish.`;
---

<Layout title="Twin River Float" href="">
  <Hero title="Twin River Float" copy={copy} prehead="northern patagonia" />
  <Text>
    <div>
      <h6>Day 1:</h6>
      <ul>
        <li>Arrive into Buenos Aires International Airport (EZE)</li>
        <li>
          Take your pre-coordinated ground transfer to Buenos Aires Domestic
          Airport (AEP)
        </li>
        <li>
          Fly from Buenos Aires Domestic Airport (AEP) to San Martin de Los
          Andes Airport (CPC)
        </li>
        <li>
          Take your pre-coordinated ground transfer to San Martin de Los Andes
        </li>
        <li>Check into your hotel and enjoy the historic downtown</li>
      </ul>
    </div>
    <div>
      <h6>Day 2:</h6>
      <ul>
        <li>
          Early breakfast and take your pre-coordinated ground transfer to
          Collon Cura Lodge
        </li>
        <li>
          Check-in to Collon Cura Lodge and enjoy a full fishing day on the
          Collon Cura River
        </li>
        <li>Overnight accommodations at Collon Cura Lodge</li>
      </ul>
    </div>
    <div>
      <h6>Day 3-5:</h6>
      <ul>
        <li>Breakfast in the lodge</li>
        <li>Full fishing day on the Collon Cura River</li>
        <li>Overnight accommodations at Collon Cura Lodge</li>
      </ul>
    </div>
    <div>
      <h6>Day 6:</h6>
      <ul>
        <li>Breakfast and transfer to Limay Lodge</li>
        <li>Full fishing day on the Middle Limay River</li>
        <li>Overnight accommodations at Limay Lodge</li>
      </ul>
    </div>
    <div>
      <h6>Day 7-8:</h6>
      <ul>
        <li>Breakfast in the lodge</li>
        <li>Full fishing day on the Middle Limay River</li>
        <li>Overnight accommodations at Limay Lodge</li>
      </ul>
    </div>
    <div>
      <h6>Day 9:</h6>
      <ul>
        <li>Breakfast and check out of Limay Lodge</li>
        <li>
          Take your pre-coordinated ground transfer to San Martin de Los Andes
          Airport (CPC)
        </li>
        <li>
          Fly from San Martin de Los Andes Airport (CPC) to Buenos Domestic
          Airport (AEP)
        </li>
        <li>
          Take your pre-coordinated ground transfer to Buenos Aires
          International Airport (EZE)
        </li>
        <li>
          Take your flight home from Buenos Aires International Airport (EZE)
        </li>
      </ul>
    </div>
    <Fragment slot="rivers">
      <Rivers />
    </Fragment>
  </Text>
</Layout>
