---
import Layout from "../../layouts/Layout.astro";
import HeroCarousel from "../../components/HeroCarousel.astro";
import Text from "../../components/Text/Text.astro";
import Rivers from "../../components/Rivers/Rivers.astro";
import Cards from "../../components/Cards/Cards.astro";
import Heading from "../../components/Heading.astro";

import Card1 from "../../../public/Cards/Twin-river.jpg";
import Card2 from "../../../public/Cards/card_10_day.jpg";
import Card3 from "../../../public/Cards/wade-and-float.jpeg";
import Card4 from "../../../public/Cards/card_sea_brown_trout.jpg";

import carouselImage1 from "../../../public/programs/wade/WF_1.jpg";
import carouselImage2 from "../../../public/programs/wade/WF_2.jpg";
import carouselImage3 from "../../../public/programs/wade/WF_3.jpg";
import carouselImage4 from "../../../public/programs/wade/WF_4.jpg";

const images = [
  carouselImage1,
  carouselImage2,
  carouselImage3,
  carouselImage4,
];

const cards = [
  {
    img: Card1,
    title: "Twin River Float",
    subhead: "northern patagonia",
    copy: "This itinerary has a very honest name. If you can only spend one week in Northern Patagonia then this is what we believe to be the Ideal experience for an angler looking for a combination of the most productive waters in the region and the chance at true trophy fish.",
    href: "/programs/twin-river-float",
  },
  {
    img: Card2,
    title: "The 10-dayTour",
    subhead: "northern patagonia",
    copy: "We always say, if you’re going to fly halfway around the world, why not take your time once you’re there? This 10-day itinerary covers all the bases for lodge styles: classic, modern, luxury; and water types: meandering mild gradients, powerful tailwaters, and classic big freestone. It’s the full gambit stylistically and shows you the variety that Patagonia has to offer.",
    href: "/programs/the-10-day-tour",
  },
  {
    img: Card3,
    title: "Wade & Float Combo",
    subhead: "northern patagonia",
    copy: "If dry flies and sight fishing are your thing, then look no further. This itinerary covers the two best rivers in the region for these conditions. With the mix of wading and floating along with the diversity of food sources, you will be in a paradise for this technical brand of fishing.",
    href: "/programs/wade-and-float-combo",
  },
  {
    img: Card4,
    title: "Sea-Run Brown Trout",
    subhead: "southern patagonia",
    copy: "Our fishing program works on a split day beat rotation where every two (2) anglers and their guide fish a morning and an evening session with an extended mid-day break with lunch and time to rest at the lodge between each session...",
    href: "/programs/sea-run-brown-trout",
  },
];

const copy = `If dry flies and sight fishing are your thing, then look no further. This itinerary covers the two best rivers in the region for these conditions. With the mix of wading and floating along with the diversity of food sources, you will be in a paradise for this technical brand of fishing.`;

const rivers = [
  {
    river: "Malleo River",
    img: "/rivers/malleo/M_1.jpg",
    texts: [
      "The Malleo River stands as a paragon of consistency and quality. Rainbow and brook trout, averaging between 14 to 19 inches, grace its currents, with a respectable cohort of Browns ranging from 20 to 24 inches, and occasional behemoths claiming their share of the limelight each year. While not renowned for producing the largest trout in the area, the Malleo teems with an abundance of 16 to 19-inch specimens, drawn to the river's enchanting caddis and mayfly hatches.",
      "A mosaic of waters awaits exploration, from the tranquil spring creeks to the rocky canyon rapids, down to the classic riffles, runs, and pools near the lodge. Casting to rising rainbows and browns amidst the willows, flats, and weed beds provides just the right amount of challenge, ensuring an exhilarating angling experience. With its waters teeming with trout, the Malleo guarantees action aplenty, even for novice anglers.",
    ],
  },
  {
    river: "Chimehuin",
    img: "/rivers/chimehuin/CH_1.jpg",
    texts: [
      "This river is the quintessential freestone river, adorned with majestic brown trout that rest in its shaded, willow-lined banks. Reminiscent of the iconic Madison River, it boasts authentic pools and runs, while in certain stretches, the river weaves into an intircate labyrinth of channels, imparting the ambiance of intimate waters yet holding the chance of sizable catches. Versatility is the name of the game here; from spirited pursuit with streamers and nymphs to enticing strikes with large attractor dry flies. Whether prospecting amidst the currents or meticulously matching the fervent hatches, anglers are sure to be inundated with activity.",
      "Rainbows and browns, averaging between 15 to 20 inches, dominate its waters, with a commendable number of specimens reaching up to 24 inches and even surpassing this mark. They are drawn in by the seasonal symphony of hatches which commences with the emergence of Caddis in early December, crescendoing into a peak later in the month and lingering through early January, accompanied by sporadic appearances of Mayflies. As February approaches, the curtain descends on the hatches, save for the nightly spectacle of sizable Yellow Drake hatches, tempting the elusive big browns to the surface. Throughout the summer, afternoon terrestrial fishing proves fruitful, reaching its zenith between late January and early March. As autumn settles, the river reverberates with the resurgence of Mayfly hatches. Streamer aficionados find solace throughout the seasons, but Spring and Fall emerge as the prime windows for pursuing hefty browns.",
    ],
  },
];
---

<Layout title="wade and float combo" href="">
  <HeroCarousel title="Wade and Float Combo" copy={copy} prehead="northern patagonia" images={images} />
  <div class="container">
    <Rivers columns={rivers} />
  </div>
  <Text>
    <div>
      <h6>Day 1:</h6>
      <ul>
        <li>Arrive into Buenos Aires International Airport (EZE)</li>
        <li>
          Take your pre-coordinated ground transfer to Buenos Aires Domestic
          Airport (AEP)
        </li>
        <li>
          Fly from Buenos Aires Domestic Airport (AEP) to San Martin de Los
          Andes Airport (CPC)
        </li>
        <li>
          Take your pre-coordinated ground transfer to San Martin de Los Andes
        </li>
        <li>Check into your hotel and enjoy the historic downtown</li>
      </ul>
    </div>
    <div>
      <h6>Day 2:</h6>
      <ul>
        <li>
          Early breakfast and take your pre-coordinated ground transfer to
          Collon Cura Lodge
        </li>
        <li>
          Check-in to Collon Cura Lodge and enjoy a full fishing day on the
          Collon Cura River
        </li>
        <li>Overnight accommodations at the Chemehuin Lodge</li>
      </ul>
    </div>
    <div>
      <h6>Day 3-4:</h6>
      <ul>
        <li>Breakfast in the lodge</li>
        <li>Full fishing day on the Collon Cura River</li>
        <li>
          Overnight accommodations at the Chemehuin Lodge (3 different lodge
          options)
        </li>
      </ul>
    </div>
    <div>
      <h6>Day 5:</h6>
      <ul>
        <li>Breakfast and transfer to Collon Cura Lodge</li>
        <li>Full fishing day on the Collon Cura River</li>
        <li>Overnight accommodations at Collon Cura Lodge</li>
      </ul>
    </div>
    <div>
      <h6>Day 6-7:</h6>
      <ul>
        <li>Breakfast in the lodge</li>
        <li>Full fishing days on the Collon Cura River</li>
        <li>Overnight accommodations at Collon Cura Lodge</li>
      </ul>
    </div>
    <div>
      <h6>Day 8:</h6>
      <ul>
        <li>Breakfast and transfer to Limay Lodge</li>
        <li>Full fishing day on the Middle Limay River</li>
        <li>Overnight accommodations at Limay Lodge</li>
      </ul>
    </div>
    <div>
      <h6>Day 9-10:</h6>
      <ul>
        <li>Breakfast in the lodge</li>
        <li>Full fishing days on the Middle Limay River</li>
        <li>Overnight accommodations at Limay Lodge</li>
      </ul>
    </div>
    <div>
      <h6>Day 11:</h6>
      <ul>
        <li>Breakfast and check out of Limay Lodge</li>
        <li>
          Take your pre-coordinated ground transfer to San Martin de Los Andes
          Airport (CPC)
        </li>
        <li>
          Fly from San Martin de Los Andes Airport (CPC) to Buenos Domestic
          Airport (AEP)
        </li>
        <li>
          Take your pre-coordinated ground transfer to Buenos Aires
          International Airport (EZE)
        </li>
        <li>
          Take your flight home from Buenos Aires International Airport (EZE)
        </li>
      </ul>
    </div>
  </Text>
  <div style={{ overflow: "hidden" }}>
    <div class="container">
      <Heading
        text="More Itineraries"
        tag="h2"
        style={{ color: "black", marginBottom: "40px" }}
      />
      <Cards cards={cards} />
    </div>
  </div>
</Layout>
