---
import styles from "./GrowingBoxes.module.scss";
import Image from "astro/components/Image.astro";
import Heading from "../Heading.astro";
---

<section class={styles.grow}>
  <Heading
    text="Explore the rivers"
    tag="h2"
    class={styles.grow__title}
    style={"color: black"}
  />
  <div class={styles["grow-section"]}>
    <a
      href="/rivers/collon-cura"
      class={`${styles["grow-item"]} ${styles.active}`}
    >
      <h3 class={styles["grow-item__title"]}>Collon Cura</h3>
      <Image src={"/Collon-4.jpeg"} alt="rivers" width={200} height={200} />
    </a>
    <a href="/rivers/rio-grande" class={styles["grow-item"]}>
      <h3 class={styles["grow-item__title"]}>Rio Grande</h3>
      <Image src={"/Collon-3.jpeg"} alt="rivers" width={200} height={200} />
    </a>
    <a href="/rivers/chimehuin" class={styles["grow-item"]}>
      <h3 class={styles["grow-item__title"]}>Chimehuin</h3>
      <Image src={"/card-1.jpeg"} alt="rivers" width={200} height={200} />
    </a>
    <a href="/rivers/malleo" class={styles["grow-item"]}>
      <h3 class={styles["grow-item__title"]}>Malleo</h3>
      <Image src={"/card-2.jpg"} alt="rivers" width={200} height={200} />
    </a>
    <a href="/rivers/middle-limay" class={styles["grow-item"]}>
      <h3 class={styles["grow-item__title"]}>Middle Limay</h3>
      <Image src={"/card-3.jpg"} alt="rivers" width={200} height={200} />
    </a>
  </div>
</section>
