---
import styles from "./Rivers.module.scss";
---

<div class={styles.rivers}>
  <h3>Visited Rivers:</h3>
  <ul>
    <li><a href="/rivers/collon-cura">Collon Cura</a></li>
    <li><a href="/rivers/middle-limay">Middle Limay</a></li>
  </ul>
</div>
