.cards {
    width: 100%;

    swiper-container::part(container) {
        overflow: visible;
        cursor: grab;
    }

    swiper-container::part(wrapper) {
        align-items: stretch;
    }

    swiper-slide {
        height: initial;
    }

    swiper-container::part(pagination) {
        position: relative;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    swiper-container::part(bullet),
    swiper-container::part(bullet-active) {
        width: 12px;
        height: 12px;
        margin: initial;

        @media (min-width: 1200px) {
            display: none;
        }
    }
}