.cards {
    width: 100%;

    swiper-container::part(container) {
        overflow: visible;
        cursor: grab;
    }

    swiper-container::part(wrapper) {
        align-items: stretch;
    }

    swiper-container::part(slide) {
        height: initial;
    }

    swiper-slide {
        height: initial;
        max-width: 380px;
    }
}