.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.10);
    transition: all .25s;
    border-radius: 8px;
    overflow: hidden;

    .img {
        aspect-ratio: 374 / 279 !important;
        object-fit: cover;
        object-position: center;
        width: initial;
        height: initial;

        @media (min-width: 1200px) {
            aspect-ratio: 2 / 1 !important;
        }
    }

    .meta {
        padding: 35px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        flex-grow: 2;
    }

    &__button {
        display: inline-block;
        color: white;
        text-transform: capitalize;
        text-decoration: none;
        padding: 15px 30px;
        border-radius: 5px;
        border: 2px solid black;
        position: relative;
        overflow: hidden;
        color: black;
        border-color: black;
        transition: all 0.25s;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: -1;
            transform: translateX(-100%);
            transition: all 0.25s;
        }

        &:hover {
            color: white;

            &::after {
                transform: translateX(0);
            }
        }
    }

    &:hover {
        box-shadow: 1px 2px 25px -5px rgba(0, 0, 0, 0.75);
        transform: scale(1.01);
        .card__button {
            color: white;
    
            &::after {
                transform: translateX(0);
            }
        }
    }
}