---
import Card1 from "../../public/card-1.jpeg";
import Card2 from "../../public/card-2.jpg";
import Card3 from "../../public/card-3.jpg";
import Cards from "./Cards/Cards.astro";

import Heading from "./Heading.astro";
import Link from "./Link/Link.astro";

const cards = [
  {
    img: Card1,
    title: "Lorem, ipsum",
    copy: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
  },
  {
    img: Card2,
    title: "Lorem, ipsum",
    copy: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
  },
  {
    img: Card3,
    title: "Lorem, ipsum",
    copy: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
  },
];
---

<section class="section">
  <div class="container">
    <Heading
      tag={`h2`}
      text={`Lorem ipsum dolor sit amet, consectetur adipiscing elit`}
      class="title"
      data-aos="fade-up"
      data-aos-once="true"
    />
    <Cards cards={cards} />
    <Link
      href={`#`}
      text={`Learn More`}
      type="secondary"
      color="black"
      data-aos="fade-up"
      data-aos-once="true"
    />
  </div>
</section>

<style>
  .section {
    padding: 50px 0;
    overflow: hidden;
  }

  .title {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    color: black;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
  }
</style>
