---
import Card1 from "../../public/card-1.jpeg";
import Card2 from "../../public/card-2.jpg";
import Card3 from "../../public/card-3.jpg";
import Cards from "./Cards/Cards.astro";

import Heading from "./Heading.astro";

const cards = [
  {
    img: Card1,
    title: "Twin River Float",
    subhead: "northern patagonia",
    copy: "This itinerary has a very honest name. If you can only spend one week in Northern Patagonia then this is what we believe to be the Ideal experience for an angler looking for a combination of the most productive waters in the region and the chance at true trophy fish.",
    href: "/programs/twin-river-float",
  },
  {
    img: Card2,
    title: "The 10-dayTour",
    subhead: "northern patagonia",
    copy: "We always say, if you’re going to fly halfway around the world, why not take your time once you’re there? This 10-day itinerary covers all the bases for lodge styles: classic, modern, luxury; and water types: meandering mild gradients, powerful tailwaters, and classic big freestone. It’s the full gambit stylistically and shows you the variety that Patagonia has to offer.",
    href: "/programs/twin-river-float",
  },
  {
    img: Card3,
    title: "Wade & Float Combo",
    subhead: "northern patagonia",
    copy: "If dry flies and sight fishing are your thing, then look no further. This itinerary covers the two best rivers in the region for these conditions. With the mix of wading and floating along with the diversity of food sources, you will be in a paradise for this technical brand of fishing.",
    href: "/programs/twin-river-float",
  },
  {
    img: Card3,
    title: "Sea-Run Brown Trout",
    subhead: "southern patagonia",
    copy: "Our fishing program works on a split day beat rotation where every two (2) anglers and their guide fish a morning and an evening session with an extended mid-day break with lunch and time to rest at the lodge between each session...",
  },
];
---

<section class="section">
  <div class="container">
    <Heading
      tag={`h2`}
      text={`Patagon Water Rivers`}
      class="title"
      data-aos="fade-up"
      data-aos-once="true"
    />
    <Cards cards={cards} />
  </div>
</section>

<style>
  .section {
    padding: 50px 0;
    overflow: hidden;
  }

  .title {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    color: black;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
  }
</style>
