---
import Link from "./Link/Link.astro";
import facebookIcon from "../../public/facebook.svg";
import instagramIcon from "../../public/ig.png";
---

<footer class="footer">
  <div class="container">
    <ul role="list" class="list">
      <li>
        <Link href="/#" text={`lodge`} type="primary" />
      </li>
      <li><Link href="/#" text={`Fishing`} type="primary" /></li>
      <li><Link href="/#" text={`Program`} type="primary" /></li>
      <li><Link href="/about" text={`About Us`} type="primary" /></li>
      <li><Link href="/#" text={`Journal`} type="primary" /></li>
    </ul>
    <div class="column">
      <h4 class="column-title">Contact us</h4>
      <ul role="list" class="contact-list">
        <li>
          <a href="tel:+1(434)249-1783">Justi Campa: +1 (434) 249-1783</a>
        </li>
        <li>
          <a href="tel:+1(706)371-3378">Carter Schell: +1 (706) 371-3378</a>
        </li>
        <li>
          <a href="tel:+549116300-3030">Junior Deane: +54 9 11 6300-3030 </a>
        </li>
        <li>
          <a href="mailto: experiences@patagonwaters.com"
            >experiences@patagonwaters.com</a
          >
        </li>
      </ul>
    </div>
    <div class="column">
      <h4 class="column-title">Follow Us</h4>
      <div class="socials">
        <a href="facebook.com"
          ><img class="social" src={facebookIcon.src} alt="" /></a
        >
        <a href="instagram.com"
          ><img class="social" src={instagramIcon.src} alt="" /></a
        >
      </div>
    </div>
  </div>

  <style>
    .footer {
      padding: 50px 0;
      background-color: #c0b283;
    }

    .container {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      gap: 50px;
      flex-wrap: wrap;
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .column {
      color: white;
    }

    .column-title {
      margin-bottom: 20px;
    }

    .contact-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .socials {
      display: flex;
      gap: 10px;
    }

    .social {
      width: 25px;
    }
  </style>
</footer>
