---
import { Image } from "astro:assets";
import Background from "../../public/Collon-4.jpeg";
import Link from "./Link/Link.astro";
import Heading from "./Heading.astro";
---

<section class="section" id="contact">
  <div class="overlay"></div>
  <Image src={Background} alt="Collon" class:list={["image"]} />
  <div class="container">
    <form action="" class="form" data-aos="fade-up" data-aos-once="true">
      <div class="fifty form-field">
        <label for="name">first name:</label>
        <input type="text" placeholder="First Name" />
      </div>
      <div class="fifty form-field">
        <label for="last">last name:</label>
        <input type="text" placeholder="Last Name" />
      </div>
      <div class="fifty form-field">
        <label for="email">email:</label>
        <input type="email" placeholder="email@gmail.com" />
      </div>
      <div class="fifty form-field">
        <label for="phone">phone</label>
        <input type="tel" placeholder="1131806856" />
      </div>
      <div class="full form-field">
        <label for="text-area">Message</label>
        <textarea name="text-area" placeholder="i'd like to know more about..."
        ></textarea>
      </div>
      <Link text={`Submit`} href={`#`} type="secondary" color="black" />
    </form>
    <div
      class="title"
      data-aos="fade-up"
      data-aos-once="true"
      data-aos-delay="200"
    >
      <Heading tag={`h2`} text={`Contact Us`} />
    </div>
  </div>
</section>

<style>
  .section {
    position: relative;
    padding: 50px 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  .title {
    color: white;
    order: 1;

    @media (min-width: 768px) {
      order: 2;
    }
  }

  .image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    z-index: -2;
  }

  .form {
    width: 100%;
    padding: 40px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    order: 2;

    @media (min-width: 768px) {
      order: 1;
    }

    @media (min-width: 786px) {
      width: 50%;
    }
  }

  .fifty {
    width: 100%;

    @media (min-width: 1000px) {
      width: calc(50% - 10px);
    }
  }

  .full {
    width: 100%;
  }

  .form-field {
    display: flex;
    flex-direction: column;
  }

  label {
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  input {
    padding: 10px 20px;
    border-radius: 5px;
  }

  textarea {
    border-radius: 5px;
    width: 100%;
  }
</style>
