.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(22.5px);
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all .5s;
    align-items: center;

    @media (min-width: 1000px) {
        justify-content: space-between;
        padding: 20px 80px;
        flex-direction: row;
        transform: translateX(0) !important;
        height: initial;
        flex-direction: column;
        justify-content: initial;
    }

    &.scrolled {
        .overlay {
            opacity: .3;
        }
    }

    &.none {
        .list {
            display: none;
        }
    }
}

.img {
    aspect-ratio: 443/124;
    width: 200px;
    height: initial;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    opacity: .3;
    transition: all .25s;

    @media (min-width: 1000px) {
        opacity: 0;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    transform: translateX(100%);
    background-color: #c0b283;
    transition: all .5s;
    padding: 100px 40px;
    
    &.open {
        transform: translateX(0);
    }
    
    @media (min-width: 1000px) {
        position: relative;
        align-items: center;
        backdrop-filter: initial;
        transform: translateX(0);
        height: initial;
        transition: initial;
        background-color: initial;
        padding: initial;
    }
}

.dropdown {
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
    margin-top: 10px;
    
    @media (min-width: 1000px) {
        position: absolute;
        top: calc(100% + 50px);
        opacity: 0;
        pointer-events: none;
        margin-top: initial;
    }

    .submenu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        @media (min-width: 1000px) {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.10);
            gap: initial;
        }

        &__item {
            list-style: none;
            min-width: max-content;
            position: relative;

            &:first-child {
                > a, span {
                    border-top-right-radius: 8px;
                    border-top-left-radius: 8px;
                }
            }

            &:last-child {
                > a, span {
                    border-bottom-right-radius: 8px;
                    border-bottom-left-radius: 8px;
                }
            }

            a, span {
                padding-left: 10px;
                min-width: max-content;
                color: white;

                @media (min-width: 1000px) {
                    display: block;
                    padding: 10px 20px;
                    color: black;
                }

                &:hover {
                    background-color: #c0b283;
                    color: white;
                }

                &::after {
                    display: none;
                }
            }

            &:hover {
                .tertiary-menu {
                    opacity: 1;
                    pointer-events: initial;
                }
            }
        }
    }

    .tertiary-menu {
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        
        @media (min-width: 1000px) {
            background-color: white;
            position: absolute;
            top: 0;
            left: 100%;
            opacity: 0;
            gap: initial;
            margin-top: initial;
        }

        &__link {
            list-style: none;
            min-width: max-content;

            &:first-child {
                >a,
                span {
                    border-top-right-radius: 8px;
                    border-top-left-radius: 8px;
                }
            }
        
            &:last-child {
                >a,
                span {
                    border-bottom-right-radius: 8px;
                    border-bottom-left-radius: 8px;
                }
            }
        
            a,
            span {
                padding-left: 20px;
        
                @media (min-width: 1000px) {
                    display: block;
                    padding: 10px 20px;
                    color: black;
                }

                &:hover {
                    background-color: #c0b283;
                    color: white;
                }
            }
        }
    }
}

.hamburger {
    cursor: pointer;
    width: 25px;
    height: 25px;
    z-index: 101;

    @media (min-width: 1000px) {
        display: none;
    }
}

.logo {
    &--mobile {
        display: none;

        @media (min-width: 1000px) {
            display: block;
        }
    }

    &--desktop {
        display: block;
        
        @media (min-width: 1000px) {
            display: none;
        }
    }
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}

.link {
    color: white;
}

.contact {
    position: absolute !important;
    bottom: 20px;
    width: calc(100% - 80px);
    left: 40px;
    text-align: center;

    @media (min-width: 1000px) {
        position: relative !important;
        bottom: initial;
        width: initial;
        left: initial;
    }
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    left: 0;
    gap: 20px;
    
    &.none {
        display: none;
    }
    
    @media (min-width: 1000px) {
        gap: 40px;
        position: relative;
        flex-direction: row;
        top: initial;
        left: initial;
        transform: translateX(0);
    }

    &__item {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: calc(100% + 50px);
            height: 50px;
            pointer-events: none;
        }

        &:hover {
            .dropdown {
                opacity: 1;
                pointer-events: initial;
            }

            &::after {
                pointer-events: initial;
            }
        }
    }
}